// ----------------------------------------
// ----------------------------------------
// ----------------------------------------
header.header
    .container
        .header__inner
            nav.menu
                ul.menu__list
                    li.menu__list-item
                        a.menu__list-link(href="#about") About
                    li.menu__list-item
                        a.menu__list-link(href="#gallery") Gallery
            a.header__logo(href="#")
                img.header__logo-img(src="images/logo.png", alt="logo")
            nav.menu
                ul.menu__list
                    li.menu__list-item
                        a.menu__list-link(href="#blog") Blog
                    li.menu__list-item
                        a.menu__list-link(href="#contact") Contact
            button.header__btn
                img.header__btn-img(src="images/icon-menu.svg")
.wrapper
    main.main
        .slider
            .slider__inner
                .slider__list
                    .container
                        .slider__list-item
                                .slider__info
                                    h1.slider__info-title
                                        | Furniture collection
                                    hr.slider__info-line
                                    p.slider__info-text
                                        | Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint

                .slider__group
                    button.slider__group-btn
                    button.slider__group-btn.slider__group-btn_active
                    button.slider__group-btn


        .furniture
            .furniture__inner
                .furniture__info
                    h3.furniture__info-title Furniture new collection
                    hr.furniture__info-line
                    p.furniture__info-text
                        | Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                .gallery-small.footer__gallery-small
                    .gallery-small__inner
                        .gallery-small__picture
                            img.gallery-small__picture-img(src="images/furniture-1.jpg")
                            .gallery-small__picture-info
                                h6.gallery-small__picture-title Truffaut literally trust
                                hr.gallery-small__picture-line
                                p.gallery-small__picture-text Living room furntiture | Chair
                        .gallery-small__picture.gallery-small__picture_hover
                            img.gallery-small__picture-img(src="images/furniture-2.jpg")
                            .gallery-small__picture-info
                                h6.gallery-small__picture-title Truffaut literally trust
                                hr.gallery-small__picture-line
                                p.gallery-small__picture-text Living room furntiture | Chair
                        .gallery-small__picture
                            img.gallery-small__picture-img(src="images/furniture-3.jpg")
                            .gallery-small__picture-info
                                h6.gallery-small__picture-title Truffaut literally trust
                                hr.gallery-small__picture-line
                                p.gallery-small__picture-text Living room furntiture | Chair
                        .gallery-small__picture
                            img.gallery-small__picture-img(src="images/furniture-4.jpg")
                            .gallery-small__picture-info
                                h6.gallery-small__picture-title Truffaut literally trust
                                hr.gallery-small__picture-line
                                p.gallery-small__picture-text Living room furntiture | Chair
                        .gallery-small__picture
                            img.gallery-small__picture-img(src="images/furniture-5.jpg")
                            .gallery-small__picture-info
                                h6.gallery-small__picture-title Truffaut literally trust
                                hr.gallery-small__picture-line
                                p.gallery-small__picture-text Living room furntiture | Chair
    footer.footer
        .footer__content
            .container
                .footer__inner
                    .footer__info
                        h5.footer__info-title Contact Us
                        p.footer__info-text
                            | Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                        a.footer__info-email(href="mailto:ouremailaddress@email.com") ouremailaddress@email.com
                        form.form
                            input.form__input(placeholder="Subscribe by email")
                            button.form__btn.footer__form-btn(type="button") Send

                    ul.footer__menu
                        li.footer__menu-item
                            img.footer__menu-img(src="images/icon-facebook.svg")
                            a.footer__menu-link(href="#") Facebook
                        li.footer__menu-item
                            img.footer__menu-img(src="images/icon-instagram.svg")
                            a.footer__menu-link(href="#") Instagram
                        li.footer__menu-item
                            img.footer__menu-img(src="images/icon-pinterest.svg")
                            a.footer__menu-link(href="#") Pinterest
                        li.footer__menu-item
                            img.footer__menu-img(src="images/icon-whatsapp.svg")
                            a.footer__menu-link(href="#") WhatsApp
                        li.footer__menu-item
                            img.footer__menu-img(src="images/icon-youtube.svg")
                            a.footer__menu-link(href="#") Youtube

                    nav.footer__nav
                        ul.footer__menu
                            li.footer__menu-item
                                a.footer__menu-link(href="#") Delivery
                            li.footer__menu-item
                                a.footer__menu-link(href="#") FAQ
                            li.footer__menu-item
                                a.footer__menu-link(href="#") Help
                            li.footer__menu-item
                                a.footer__menu-link(href="#") More About Us

        .footer__copyright 674 Gonzales Drive.   Washington, PA 15301