@import 'vars';
@import 'mixins';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-weight: $fw-normal;
    font-size: $fs-base;
    font-family: $ff-open-sans;
    line-height: 27px;

    position: relative;
}

h1 {
    @include h1Font;
}

h2 {
    @include h2Font;
}

h3 {
    @include h3Font;
}

h4 {
    @include h4Font;
}

h5 {
    @include h5Font;
}

p {
    @include textFont;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
        color: $color-dark;
    }
}

ul,
ol {
    list-style: none;
}

button {
    padding: 0;

    border: none;
    outline: none;
    cursor: pointer;
    background: inherit;

    transition: transform 0.6s ease;

    &:hover {
        transform: scale(1.07);
    }
}
