html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a,
ol, ul, li, form,
article, aside, footer, header, menu, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    vertical-align: baseline;
    background: transparent;
}

nav ul {
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}